.c-section.c-section__doctors
    .c-title.c-title--01
        h2 HỘI ĐỒNG CHUYÊN MÔN
    .c-component
        .o-container
            .c-component__wrap
                ul.cities
                    li.city.active Hà Nội
                    li.city TP.Hồ Chí Minh
            .c-component__wrap.c-col--4
                .c-item
                    .c-box
                        .c-thumbnail
                            img(src="/images/doctors/bs-1.png", alt="Nguyễn Văn Nguyên")
                        .c-box__title
                            h3.c-title
                                span TS-BS
                                p Nguyễn Văn Nguyên
                .c-item
                    .c-box
                        .c-thumbnail
                            img(src="/images/doctors/bs-2.png", alt="Nguyễn Văn Nguyên")
                        .c-box__title
                            h3.c-title
                                span TS-BS
                                p Nguyễn Văn Nguyên
                .c-item
                    .c-box
                        .c-thumbnail
                            img(src="/images/doctors/bs-3.png", alt="Nguyễn Văn Nguyên")
                        .c-box__title
                            h3.c-title
                                span TS-BS
                                p Nguyễn Văn Nguyên
                .c-item
                    .c-box
                        .c-thumbnail
                            img(src="/images/doctors/bs-3.png", alt="Nguyễn Văn Nguyên")
                        .c-box__title
                            h3.c-title
                                span TS-BS
                                p Nguyễn Văn Nguyên