.c-section.c-section__news
    .c-component
        .o-container
            .c-component__wrap.c-col--3
                .c-item
                    .c-title.c-title--01
                        h2 HỎI ĐÁP NHA KHOA
                    .c-list-item
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                .c-item
                    .c-title.c-title--01
                        h2 TIN NỔI BẬT
                    .c-list-item
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                .c-item
                    .c-title.c-title--01
                        h2 TÌM KIẾM NHANH
                    .c-list-item
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019
                        .c-box-item
                            .c-thumbnail
                                img(src="/images/blank.png", class="thumbnail")
                            .c-content-title
                                span.title Bọc răng sứ có tốt không? Yếu tố quyết định đến làm răng sứ có tốt không?
                                span.date 30/12/2019