.c-section.c-section__services
    .c-title.c-title--01
        h2 DỊCH VỤ NỔI BẬT
    .c-component.c-component__introduction
        .o-container
            .c-component__wrap.c-col--4
                .c-item
                    .c-box
                        .c-box__thumbnail
                            i(class="c-icon__intro" style="background:url(/images/icon/rang_su.png) no-repeat;")
                            .c-thumbnail
                                .c-thumbnail--4x3
                                    img(src="/images/services/rang_su.png", alt="Răng Sứ")
                        .c-box__title
                            h3.c-title.c-title__bottom
                                p Răng Sứ
                .c-item
                    .c-box
                        .c-box__thumbnail
                            i(class="c-icon__intro" style="background:url(/images/icon/implant.png) no-repeat;")
                            .c-thumbnail
                                .c-thumbnail--4x3
                                    img(src="/images/services/implant.png", alt="Trồng IMPLANT")
                        .c-box__title
                            h3.c-title.c-title__bottom
                                p Trồng IMPLANT
                .c-item
                    .c-box
                        .c-box__thumbnail
                            i(class="c-icon__intro" style="background:url(/images/icon/nieng_rang.png) no-repeat;")
                            .c-thumbnail
                                .c-thumbnail--4x3
                                    img(src="/images/services/nieng_rang.png", alt="Niềng Răng")
                        .c-box__title
                            h3.c-title.c-title__bottom
                                p Niềng Răng
                .c-item
                    .c-box
                        .c-box__thumbnail
                            i(class="c-icon__intro" style="background:url(/images/icon/orther_service.png) no-repeat;")
                            .c-thumbnail
                                .c-thumbnail--4x3
                                    img(src="/images/services/orther_service.png", alt="Các Dịch Vụ Khác")
                        .c-box__title
                            h3.c-title.c-title__bottom
                                p Các Dịch Vụ khác