.c-section.c-section__contactform
    .c-component__slider
        div(class="main-carousel sliderMain", id="sliderMain")
            .carousel-cell
                a(href="#", class="c-thumbnail c-thumbnail--ratio")
                    img.only-pc(src='/images/banner/banner_top.jpg' alt='' sizes='(max-width: 1903px) 100vw, 1903px')
                    img.only-sp(src='/images/banner_mobile/banner_top.jpg' alt='' sizes='(max-width: 414px) 100vw, 414px')