header.c-header
    .c-header__wrap
        .c-header__logo
            h1.c-logo__h
                a(href="#")
                    img(src="/images/logo.png", alt="Nha Khoa Smile UP")
        .c-header__menu
            nav.h-nav
                .menu-menu-1-container
                    ul(id="primary-menu" class="d-flex lv-0")
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Giới thiệu <br> SMILEUP
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Bọc <br> Răng Sứ
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Trồng <br> IMPLANT
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Niềng Răng <br> Thẩm Mỹ
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Dịch Vụ <br> Khác
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Câu chuyện <br> Khách hàng
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Tin tức <br> Nha khoa
                        li(class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children")
                            a(href="#")
                                span 
                                    | Liên hệ <br> SMILEUP
        .c-header__contact
            .h-contact
                .phone
                    a(href="tel:0868666363" class="d-flex btn_yellow")
                        i.c-icon.c-icon--phone_white
                        span 086.866.6363
